node_modules/*
test-server/*
amplify/*
assets/*
.expo/*
.expo-shared/*
patches/*
.vscode/*
src/graphql/*
src/API.ts

models

amplify-codegen-temp/models

amplify-codegen-temp\models
tailwind.config.js
next.config.js
postcss.config.js
/**/*.js
lib/process.ts
/types/supabase/*
